html {
  width: 960px;
  margin-right: auto;
  margin-left: auto;
}

a {
  color: inherit;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
}

.header_container {
  width: 830px;
  margin-right: 0;
}

div .logo,
div .logo h1 {
  display: inline-block;
}

div .logo h1 {
  margin-left: 1rem;
  margin-right: 1rem;
}

nav {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  height: auto;
  padding-top: 10px;
}

.button {
  border-radius: 60px;
  width: 100px;
  height: 70px;
  text-align: center;
  transition: background-color linear, 1s ease-out;
}

.button:hover {
  background-color: rgba(201, 201, 201, 0.623);
}

nav h1 {
  display: inline-block;
}

.container {
  margin-right: auto;
  margin-left: auto;
  height: 556px;
  width: 942px;
}

form {
  height: 400px;
  width: 600px;
  margin: auto;
  padding-top: 100px;
  text-align: center;
  line-height: 2rem;
  line-break: 2rem;
  font-family: "Vazirmatn", sans-serif;
}

form p {
  font-size: 18px;
  vertical-align: text-top;
}

#massage {
  height: 100px;
  width: 350px;
}

section:nth-of-type(1) {
  margin-bottom: 0px;
  background: white;
}

section:nth-of-type(2) {
  margin-bottom: 0px;
  background: white;
}

.image {
  display: inline-block;
}
img {
  height: 240px;
  width: 240px;
  margin: 5px;
  float: left;
}

div .column-2 {
  height: 100%;
  width: 500px;
  float: right;
  padding: 20px;
  margin-top: 20px;
  margin-right: 10px;
}

.qoute_block {
  display: inline-block;
  width: 50%;
}

p {
  display: inline-block;
  font-size: 2rem;
  margin-top: 0px;
  margin-bottom: 0px;
}

div .row {
  display: block;
  margin-top: 80px;
  height: 10px;
}

#languages {
  display: inline-block;
  position: relative;
  right: 90px;
  margin-right: 0px;
}

#download {
  display: inline-block;
}

.name-tag {
  display: inline-block;
  margin-left: 100px;
  margin-right: 100px;
}

.name-tag h6,
.name-tag h4 {
  font-family: "Vazirmatn", sans-serif;
  margin-top: 0px;
}

hr {
  margin-top: -10px;
  margin-bottom: 0;
  color: #000;
  margin-left: auto;
  margin-right: auto;
}

section:nth-of-type(2),
.header_container {
  text-align: center;
  display: flex;
}

article {
  height: 290px;
  width: 50%;
  display: flex;
  justify-content: space-around;
}

article ul {
  list-style: none;
  text-align: left;
  margin-right: 50px;
}

article p {
   text-align: left;
   font-size: 15px;
   margin-left: 12px;
}

section .footer {
  background-color: black;
  height: 120px;
  width: 100%;
}

.footer {
  text-align: center;
  color: rgba(136, 136, 136, 0.349);
  padding: 10px;
}

.footer p {
  font-size: 16px;
  margin: 10px 0px;
  font-family: "Vazirmatn", sans-serif;
}
